<ion-view view-title="JUEGO">
<ion-content>
<div class="juego">
<div id="juego_de_parejas">
  <div id="contenedor_juego">
    <div id="cabecera_juego" align="center"><img alt="Juego de Parejas" id="imagen_juego" src="http://innv.eltiempo.digital/juegodeparejas/assets/images/titulo_juego.png"/>
      <p>Juega y aprende más sobre algunas frutas las cuales son de mucha ayuda para el ser humano. El principal motivo son sus vitaminas por supuesto descubre mas sobre ellas; veras cuales son al momento de escoger la pareja.</p>
      <label id="tiempo_juego">00:00 </label><span>Tiempo</span>
    </div>
    <div id="tablero_juego">
      <div class="casilla" id="0"></div>
      <div class="casilla" id="1"></div>
      <div class="casilla" id="2"></div>
      <div class="casilla" id="3"></div>
      <div class="casilla" id="4"></div>
      <div class="casilla" id="5"></div>
      <div class="casilla" id="6"></div>
      <div class="casilla" id="7"></div>
      <div class="casilla" id="8"></div>
      <div class="casilla" id="9"></div>
      <div class="casilla" id="10"></div>
      <div class="casilla" id="11"></div>
      <div class="casilla" id="12"></div>
      <div class="casilla" id="13"></div>
      <div class="casilla" id="14"></div>
      <div class="casilla" id="15"></div>
      <div class="casilla" id="16"></div>
      <div class="casilla" id="17"></div>
      <div class="casilla" id="18"></div>
      <div class="casilla" id="19"></div>
    </div>
  </div>
  <div id="panel_resultados">
    <div id="resultados">
      <label class="label_tiempo">Tiempo:</label><br/><span class="tiempo_final">-- seg</span>
      <hr/>
      <div class="preguntas">
        <H1> ¡¡¡¡¡¡¡GANASTE!!!!!!</H1>
      </div>
      <div><p class="flecha">&downarrow;</p></div>
      <hr/><br/><br/><span id="btn_reiniciar">Reiniciar</span>
    </div>
  </div>
</div>
		
	</div>
	



</ion-content>
</ion-view>