<ion-view view-title="INFOGRAFIA">
  <ion-content>
	<div class="row">
			<div class="col">
				<h1 class="text-center">Reproducción Sexual y Asexual, formación de gametos</h1>
				<TABLE class="tabla_info">
					<tbody>
						<tr>
							<td class="imagen">
								<img src="img/info/segunda.gif" height="300" width="300">
							</td>
							<td id="texto">
								<p>Los ciclos vitales de las plantas vasculares presentan alternancia de dos generaciones. La generación que produce las esporas se denomina esporófito, son las plantas que hemos estado describiendo y estudiando hasta ahora, cuyas células presentan número cromosómico  2n. La generación que produce los gametos se denomina gametófito, y son plantas reducidas, cuyas células presentan número cromosómico n.
								</p>
							</td>
						</tr>
						
						<tr>
							<td id="texto">
								<p>En el caso de las Pteridophyta, el esporófito es la planta con hojas, los esporangios, órganos donde se producen las esporas están ubicados en el envés de las hojas. El gametófito es verde y autótrofo pero efímero, mide unos pocos centímetros y se llama prótalo. En su cara inferior se encuentran los arquegonios y anteridios, órganos donde se forman los gametos femeninos y masculinos respectivamente. 
								</p>
							</td>
							<td class="imagen">
								<img src="img/info/tercera.gif" height="300" width="300">
							</td>
						</tr>
						<tr>
							<td class="imagen">
								<img src="img/info/cuarta.gif" height="300" width="300">
							</td>
							<td id="texto">
								<p>
									En las Spermatophyta los esporófitos son las plantas verdes, con hojas. En las flores, constituidas por hojas modificadas, producen dos tipos de esporas: microsporas y megasporas. Los gametófitos no son verdes, no tienen vida independiente, son plantas parásitas, heterótrofas, que viven a expensas del esporófito. Según que tipo de gametos produzcan, hay gametófitos masculinos y femeninos.
								</p>
							</td>
						</tr>

						<tr>
							<td id="texto">
								<p>En algunos organismos protistas y en hongos los gametos son morfológica y fisiológicamente idénticos, aunque puede haber una diferencia genética definida. En la evolución, sin embargo, se aprecia una tendencia muyclara a que se distingan cada vez más un gameto femenino,generalmente grande e inmóvil, y un gameto masculino, pequeño y móvil.
								</p>
							</td>
							<td class="imagen">
								<img src="img/info/cuarta.png" height="300" width="300">
							</td>
						</tr>


						<tr>
							<td class="imagen">
								<img src="img/info/quinta.jpg" height="300" width="300">
							</td>
							<td id="texto">
								<p>
									Los gametos son células sexuales: el gameto masculino es el espermatozoide y el gameto femenino,el óvulo se fusionan,surge el zigoto o cigoto,la célula resultante de la reproducción sexual que, a partir de su desarrollo y su segmentación, da lugar a la aparición de un nuevo ejemplar.

								</p>
							</td>
						</tr>

						<tr>
							<td id="texto">
								<p>En la primera etapa de la reproducción sexual, "meiosis", el número de cromosomas es reducido de un número diploide (2n) s uno haplaoide (n).Durante la "fertilización", los gametos haploides se unen para formar un cigoto diploide y restablecer el número original de cromosomas (2n).
								</p>
							</td>
							<td class="imagen">
								<img src="img/info/sexta.png" height="300" width="300">
							</td>
						</tr>

						<tr>
							<td class="imagen">
								<img src="img/info/septima.jpg" height="300" width="300">
							</td>
							<td id="texto">
								<p>La reproducción es un proceso biológico que permite la creación de nuevos organismos, siendo una propiedad común de todas las formas de vida conocidas.Las modalidades básicas de reproducción se agrupan en dos tipos, que reciben los nombres de reproducción sexual y reproducción asexual.
								</p>
							</td>
						</tr>


					</tbody>
				</TABLE>
			</div>
		</div>
	</ion-content>
</ion-view>

</ion-content>
</ion-view>

