<ion-view view-title="VIDEO">
  <ion-content>
  	<div class="vid">
<p>Este video habla sobre el proceso de fecundación y desarrollo del embrión:El embrión es la etapa inicial del desarrollo de un ser vivo mientras se encuentra en el huevo o en el útero de la hembra. En el caso específico del ser humano, el término se aplica hasta la octava semana desde la concepción (fecundación). A partir de la octava semana, el embrión pasa a denominarse feto. </p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/kHIXHC_rRjE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>

<div class="vid">
<p>Este otro video habla sobre los métodos anticonceptivos para prevenir un embarazo a temprana edad: Son los métodos o procedimientos que previenen un embarazo en mujeres sexualmente activas, ya sean ellas o sus parejas quienes los usen. Pueden ser hormonales o no hormonales, transitorios o definitivos, basados en tecnología o en conductas. </p>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/ltJ2YIZg7jU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

   </ion-content>
</ion-view>
