<ion-view view-title="LOGIN">
  <ion-content>
 <div class="list list-inset">
    	<H1>Ingreso</H1>
          <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="data.username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="login()">Login</button>
  	</ion-content>
</ion-view>
