<ion-view view-title="VID AGUA">
  <ion-content>
  	<p>El agua es el elemento más importante para la vida. Es de una importancia vital para el ser humano, así como para el resto de animales y seres vivos que nos acompañan en el planeta Tierra. Resulta curioso que el 70 por ciento de la Tierra sea agua y que el 70 por ciento de nuestro cuerpo también sea agua</p>
  	<div class="video">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/m8iuW-qtPBQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	</ion-content>
</ion-view>
